/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package app.marquee.api.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import app.marquee.api.models.DeclineRequestRequest
import app.marquee.api.models.DiscoverPage
import app.marquee.api.models.Error
import app.marquee.api.models.ListSeerrUsers200ResponseInner
import app.marquee.api.models.MediaRequest
import app.marquee.api.models.MediaRequestCreate
import app.marquee.api.models.RequestState
import app.marquee.api.models.RequestableShow
import app.marquee.api.models.RequestsStatus
import app.marquee.api.models.TestSeerr200Response
import app.marquee.api.models.TestSeerrRequest

import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable

import app.marquee.api.infrastructure.ApiClient
import app.marquee.api.infrastructure.ApiResponse
import app.marquee.api.infrastructure.ClientException
import app.marquee.api.infrastructure.ClientError
import app.marquee.api.infrastructure.ServerException
import app.marquee.api.infrastructure.ServerError
import app.marquee.api.infrastructure.MultiValueMap
import app.marquee.api.infrastructure.PartConfig
import app.marquee.api.infrastructure.RequestConfig
import app.marquee.api.infrastructure.RequestMethod
import app.marquee.api.infrastructure.ResponseType
import app.marquee.api.infrastructure.Success
import app.marquee.api.infrastructure.toMultiValue
import app.marquee.api.infrastructure.Serializer

open class RequestsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "/api/v1")
        }
    }

    /**
     * POST /requests/{requestId}/approve
     * Approve a pending request and send it to Seerr (admin only).
     * 
     * @param requestId 
     * @return MediaRequest
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun approveRequest(requestId: kotlin.Long) : MediaRequest {
        val localVarResponse = approveRequestWithHttpInfo(requestId = requestId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MediaRequest
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /requests/{requestId}/approve
     * Approve a pending request and send it to Seerr (admin only).
     * 
     * @param requestId 
     * @return ApiResponse<MediaRequest?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun approveRequestWithHttpInfo(requestId: kotlin.Long) : ApiResponse<MediaRequest?> {
        val localVariableConfig = approveRequestRequestConfig(requestId = requestId)

        return request<Unit, MediaRequest>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation approveRequest
     *
     * @param requestId 
     * @return RequestConfig
     */
    fun approveRequestRequestConfig(requestId: kotlin.Long) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/requests/{requestId}/approve".replace("{"+"requestId"+"}", encodeURIComponent(requestId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /requests/{requestId}
     * Withdraw a pending request (its owner or an admin).
     * 
     * @param requestId 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun cancelRequest(requestId: kotlin.Long) : Unit {
        val localVarResponse = cancelRequestWithHttpInfo(requestId = requestId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /requests/{requestId}
     * Withdraw a pending request (its owner or an admin).
     * 
     * @param requestId 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun cancelRequestWithHttpInfo(requestId: kotlin.Long) : ApiResponse<Unit?> {
        val localVariableConfig = cancelRequestRequestConfig(requestId = requestId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation cancelRequest
     *
     * @param requestId 
     * @return RequestConfig
     */
    fun cancelRequestRequestConfig(requestId: kotlin.Long) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/requests/{requestId}".replace("{"+"requestId"+"}", encodeURIComponent(requestId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /requests
     * Ask for a movie or show. It waits for an admin&#39;s approval, then goes to Seerr.
     * 
     * @param mediaRequestCreate 
     * @return MediaRequest
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createRequest(mediaRequestCreate: MediaRequestCreate) : MediaRequest {
        val localVarResponse = createRequestWithHttpInfo(mediaRequestCreate = mediaRequestCreate)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MediaRequest
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /requests
     * Ask for a movie or show. It waits for an admin&#39;s approval, then goes to Seerr.
     * 
     * @param mediaRequestCreate 
     * @return ApiResponse<MediaRequest?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createRequestWithHttpInfo(mediaRequestCreate: MediaRequestCreate) : ApiResponse<MediaRequest?> {
        val localVariableConfig = createRequestRequestConfig(mediaRequestCreate = mediaRequestCreate)

        return request<MediaRequestCreate, MediaRequest>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createRequest
     *
     * @param mediaRequestCreate 
     * @return RequestConfig
     */
    fun createRequestRequestConfig(mediaRequestCreate: MediaRequestCreate) : RequestConfig<MediaRequestCreate> {
        val localVariableBody = mediaRequestCreate
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/requests",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /requests/{requestId}/decline
     * Decline a pending request (admin only).
     * 
     * @param requestId 
     * @param declineRequestRequest  (optional)
     * @return MediaRequest
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun declineRequest(requestId: kotlin.Long, declineRequestRequest: DeclineRequestRequest? = null) : MediaRequest {
        val localVarResponse = declineRequestWithHttpInfo(requestId = requestId, declineRequestRequest = declineRequestRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MediaRequest
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /requests/{requestId}/decline
     * Decline a pending request (admin only).
     * 
     * @param requestId 
     * @param declineRequestRequest  (optional)
     * @return ApiResponse<MediaRequest?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun declineRequestWithHttpInfo(requestId: kotlin.Long, declineRequestRequest: DeclineRequestRequest?) : ApiResponse<MediaRequest?> {
        val localVariableConfig = declineRequestRequestConfig(requestId = requestId, declineRequestRequest = declineRequestRequest)

        return request<DeclineRequestRequest, MediaRequest>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation declineRequest
     *
     * @param requestId 
     * @param declineRequestRequest  (optional)
     * @return RequestConfig
     */
    fun declineRequestRequestConfig(requestId: kotlin.Long, declineRequestRequest: DeclineRequestRequest?) : RequestConfig<DeclineRequestRequest> {
        val localVariableBody = declineRequestRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/requests/{requestId}/decline".replace("{"+"requestId"+"}", encodeURIComponent(requestId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter category
     */
     enum class CategoryDiscoverRequestable(val value: kotlin.String) {
         @SerialName(value = "trending") TRENDING("trending"),
         @SerialName(value = "movies") MOVIES("movies"),
         @SerialName(value = "tv") TV("tv"),
         @SerialName(value = "upcoming") UPCOMING("upcoming");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /requests/discover
     * Trending, popular and upcoming titles from Seerr (REQ-2).
     * 
     * @param category  (optional, default to Category.TRENDING)
     * @param page  (optional, default to 1)
     * @return DiscoverPage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun discoverRequestable(category: CategoryDiscoverRequestable? = CategoryDiscoverRequestable.TRENDING, page: kotlin.Int? = 1) : DiscoverPage {
        val localVarResponse = discoverRequestableWithHttpInfo(category = category, page = page)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DiscoverPage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /requests/discover
     * Trending, popular and upcoming titles from Seerr (REQ-2).
     * 
     * @param category  (optional, default to Category.TRENDING)
     * @param page  (optional, default to 1)
     * @return ApiResponse<DiscoverPage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun discoverRequestableWithHttpInfo(category: CategoryDiscoverRequestable?, page: kotlin.Int?) : ApiResponse<DiscoverPage?> {
        val localVariableConfig = discoverRequestableRequestConfig(category = category, page = page)

        return request<Unit, DiscoverPage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation discoverRequestable
     *
     * @param category  (optional, default to Category.TRENDING)
     * @param page  (optional, default to 1)
     * @return RequestConfig
     */
    fun discoverRequestableRequestConfig(category: CategoryDiscoverRequestable?, page: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (category != null) {
                    put("category", listOf(category.value))
                }
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/requests/discover",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter scope
     */
     enum class ScopeListRequests(val value: kotlin.String) {
         @SerialName(value = "mine") MINE("mine"),
         @SerialName(value = "all") ALL("all");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /requests
     * Requests, newest first. Users see their own; admins can ask for everyone&#39;s.
     * 
     * @param scope  (optional, default to Scope.MINE)
     * @param status  (optional)
     * @return kotlin.collections.List<MediaRequest>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listRequests(scope: ScopeListRequests? = ScopeListRequests.MINE, status: RequestState? = null) : kotlin.collections.List<MediaRequest> {
        val localVarResponse = listRequestsWithHttpInfo(scope = scope, status = status)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<MediaRequest>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /requests
     * Requests, newest first. Users see their own; admins can ask for everyone&#39;s.
     * 
     * @param scope  (optional, default to Scope.MINE)
     * @param status  (optional)
     * @return ApiResponse<kotlin.collections.List<MediaRequest>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listRequestsWithHttpInfo(scope: ScopeListRequests?, status: RequestState?) : ApiResponse<kotlin.collections.List<MediaRequest>?> {
        val localVariableConfig = listRequestsRequestConfig(scope = scope, status = status)

        return request<Unit, kotlin.collections.List<MediaRequest>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listRequests
     *
     * @param scope  (optional, default to Scope.MINE)
     * @param status  (optional)
     * @return RequestConfig
     */
    fun listRequestsRequestConfig(scope: ScopeListRequests?, status: RequestState?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (scope != null) {
                    put("scope", listOf(scope.value))
                }
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/requests",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /requests/seerr/users
     * Seerr&#39;s users, for linking Marquee users to them (admin only).
     * 
     * @return kotlin.collections.List<ListSeerrUsers200ResponseInner>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun listSeerrUsers() : kotlin.collections.List<ListSeerrUsers200ResponseInner> {
        val localVarResponse = listSeerrUsersWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<ListSeerrUsers200ResponseInner>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /requests/seerr/users
     * Seerr&#39;s users, for linking Marquee users to them (admin only).
     * 
     * @return ApiResponse<kotlin.collections.List<ListSeerrUsers200ResponseInner>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun listSeerrUsersWithHttpInfo() : ApiResponse<kotlin.collections.List<ListSeerrUsers200ResponseInner>?> {
        val localVariableConfig = listSeerrUsersRequestConfig()

        return request<Unit, kotlin.collections.List<ListSeerrUsers200ResponseInner>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation listSeerrUsers
     *
     * @return RequestConfig
     */
    fun listSeerrUsersRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/requests/seerr/users",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /requests/tv/{tmdbId}
     * A show&#39;s seasons and which are available or requested, for choosing what to request.
     * 
     * @param tmdbId 
     * @return RequestableShow
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun requestableShow(tmdbId: kotlin.Long) : RequestableShow {
        val localVarResponse = requestableShowWithHttpInfo(tmdbId = tmdbId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RequestableShow
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /requests/tv/{tmdbId}
     * A show&#39;s seasons and which are available or requested, for choosing what to request.
     * 
     * @param tmdbId 
     * @return ApiResponse<RequestableShow?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun requestableShowWithHttpInfo(tmdbId: kotlin.Long) : ApiResponse<RequestableShow?> {
        val localVariableConfig = requestableShowRequestConfig(tmdbId = tmdbId)

        return request<Unit, RequestableShow>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation requestableShow
     *
     * @param tmdbId 
     * @return RequestConfig
     */
    fun requestableShowRequestConfig(tmdbId: kotlin.Long) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/requests/tv/{tmdbId}".replace("{"+"tmdbId"+"}", encodeURIComponent(tmdbId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /requests/status
     * Whether requests are set up and whether the caller may make them.
     * 
     * @return RequestsStatus
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun requestsStatus() : RequestsStatus {
        val localVarResponse = requestsStatusWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RequestsStatus
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /requests/status
     * Whether requests are set up and whether the caller may make them.
     * 
     * @return ApiResponse<RequestsStatus?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun requestsStatusWithHttpInfo() : ApiResponse<RequestsStatus?> {
        val localVariableConfig = requestsStatusRequestConfig()

        return request<Unit, RequestsStatus>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation requestsStatus
     *
     * @return RequestConfig
     */
    fun requestsStatusRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/requests/status",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /requests/search
     * Search movies and shows on Seerr, marked with what&#39;s in the library or already requested.
     * 
     * @param q 
     * @param page  (optional, default to 1)
     * @return DiscoverPage
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun searchRequestable(q: kotlin.String, page: kotlin.Int? = 1) : DiscoverPage {
        val localVarResponse = searchRequestableWithHttpInfo(q = q, page = page)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as DiscoverPage
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /requests/search
     * Search movies and shows on Seerr, marked with what&#39;s in the library or already requested.
     * 
     * @param q 
     * @param page  (optional, default to 1)
     * @return ApiResponse<DiscoverPage?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun searchRequestableWithHttpInfo(q: kotlin.String, page: kotlin.Int?) : ApiResponse<DiscoverPage?> {
        val localVariableConfig = searchRequestableRequestConfig(q = q, page = page)

        return request<Unit, DiscoverPage>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation searchRequestable
     *
     * @param q 
     * @param page  (optional, default to 1)
     * @return RequestConfig
     */
    fun searchRequestableRequestConfig(q: kotlin.String, page: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("q", listOf(q.toString()))
                if (page != null) {
                    put("page", listOf(page.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/requests/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /requests/seerr/test
     * Check a Seerr URL and API key (admin only). Without an apiKey, the saved key is used.
     * 
     * @param testSeerrRequest 
     * @return TestSeerr200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun testSeerr(testSeerrRequest: TestSeerrRequest) : TestSeerr200Response {
        val localVarResponse = testSeerrWithHttpInfo(testSeerrRequest = testSeerrRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as TestSeerr200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /requests/seerr/test
     * Check a Seerr URL and API key (admin only). Without an apiKey, the saved key is used.
     * 
     * @param testSeerrRequest 
     * @return ApiResponse<TestSeerr200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun testSeerrWithHttpInfo(testSeerrRequest: TestSeerrRequest) : ApiResponse<TestSeerr200Response?> {
        val localVariableConfig = testSeerrRequestConfig(testSeerrRequest = testSeerrRequest)

        return request<TestSeerrRequest, TestSeerr200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation testSeerr
     *
     * @param testSeerrRequest 
     * @return RequestConfig
     */
    fun testSeerrRequestConfig(testSeerrRequest: TestSeerrRequest) : RequestConfig<TestSeerrRequest> {
        val localVariableBody = testSeerrRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/requests/seerr/test",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
